<link rel="stylesheet" href="/css/homePage.css">
    <div class="three">
  <h1>Projects</h1>
  <a href="/project/viewAddForm"> <button class="buttonAdd buttonBlue">Add Project</button></a>
 
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  <% projectList.forEach((project, index) => { %>
    <tr>
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= project.author %></td>
  <td>
    <a href="/project/viewProject/<%= index %>"><button class="button buttonGreen">View</button></a>
    <a href="/project/deleteProjectForm/<%= index %>"><button class="button buttonRed">Delete</button></a>
  </td>
</tr>
<% }); %>

</table>