<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <style>        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .main-container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
          .main-content {
            height: 88vh;
            overflow-y: auto;
        }</style>
    <%- style%>
</head>
<body>
 <div class="main-container">
        <%- include("_header") %>
        <div class="main-content">
            <%- body %>
        </div>
        <%- include("_footer") %>
    </div>
    <%- script%>
</body>
</html>