<link rel="stylesheet" href="/css/homePage.css">
    <div class="three">
  <h1> <%= projectName %>  Project Issue</h1>
  <a href="/project/viewProjectIssueForm/<%= projectId %>"> <button class="buttonAdd buttonBlue">Create Issue</button></a>
</div>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Label</th>
    <th>Action</th>
  </tr>
  <% projectIssue.forEach((issue, index) => { %>
    <tr>
  <td><%= issue.title %></td>
  <td><%= issue.description %></td>
  <td><%= issue.author %></td>
  <td><%= issue.label %></td>
  <td>
    <a href="/project/deleteProjectIssue/<%= index %>"><button class="button buttonRed">Delete</button></a>
  </td>
</tr>
<% }); %>
</table>